{% extends 'store/base.html' %}

{% block content %}
<style>
    img {
        vertical-align: middle;
        margin-bottom: 0.75em;
    }
    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }
</style>

    <h1>This is your shopping cart :)</h1>
    {% if cart %}
        <ul>
        {% for product in cart %}
            <a href="{% url 'store:detail' product.id %}">
                <div class="img_container">
                    <img alt="product" src="{{ product.product_pics.url }}" width="50" height="50">
                    <span>{{ product.product_name }} {{ product.product_price }} €</span>
                </div>
            </a>
        {% endfor %}
        </ul>

        <h3>Total costs: {{ total_cost }} €</h3>
    {% endif %}

{% endblock %}